@import "../../styles/variables.scss";

.input {
  padding: 10px 19px;
  width: calc(100% - 38px);
  border: none;
  outline: none;
  border-radius: 7px;
  background: -webkit-linear-gradient(0deg, $Grabient-A 0%, $Grabient-B 100%);
  font-family: "Avenir";
  font-size: 12px;
  &::placeholder {
    color: $TextPlaceholderColor;
    opacity: 0.5;
  }
  &:focus {
    background: -webkit-linear-gradient(
      0deg,
      $GrabientFocus-A 0%,
      $GrabientFocus-B 100%
    );
  }
  &:disabled {
    background: -webkit-linear-gradient(
      0deg,
      $GrabientDisabled-A 0%,
      $GrabientDisabled-B 100%
    );
  }
}
