$PrimaryColor: #ff0000;
$SecondaryColor: #d9d9d9;

$Background: #f9f9f9;

$Grabient-A: #fff0f0;
$Grabient-B: #ffdfdf;

$GrabientFocus-A: #ffbcbc;
$GrabientFocus-B: #ffa1a1;

$ScrollColor: #ffcbcb;

$GrabientDisabled-A: #f2f2f2;
$GrabientDisabled-B: #d9d9d9;

$ChackedOptionBackground: #ffe5e5;
$OptionBackground: #fff7f7;

$TextPlaceholderColor: #3b3b3b;
$TextLightColor: rgba(59, 59, 59, 0.5);
$TextColor: #000000;

$SemitransparentColor: rgba(255, 0, 0, 0.2);

$ShadowColor: rgba(0, 0, 0, 0.12);

$White: white;
$Black: black;

$backgroundPattern: url("./backgroundPattern.svg");
